{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container mb-2">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="header-font">Cart</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                <div class="table-responsive rounded">
                    <table class="table table-bordered mt-3">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Product</th>
                                <th scope="col"></th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in bag_items %}
                            <tr>
                                <td><i class="fas fa-xmark"></i></td>
                                <td class="p-3 w-25">
                                    <img src="{{ item.product.image.url }}" class="img-thumbnail"
                                        alt="{{ product.name }}">
                                </td>
                                <td class="p-3">{{ item.product.name }}</td>
                                <td class="p-3">€{{ item.product.price }}</td>
                                <td class="p-3">{{ item.quantity }}</td>
                                <td class="p-3">€{{ item.product.price }}</td>
                            </tr>
                            {% endfor %}
                    </table>
                </div>
                <div class="table-responsive rounded">
                    <table class="table table-borderless mt-3">
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h2 class="header-font">Cart Totals</h2>
                                <h6 class="text-uppercase">Subtotal: €{{ total|floatformat:2 }}</h6>
                                <h6 class="text-uppercase">Shipping: €{{ delivery|floatformat:2 }}</h6>
                                <h6 class="mt-4 text-uppercase"><strong>Total: €{{ grand_total|floatformat:2 }}</strong></h6>
                                {% if free_delivery_delta > 0 %}
                                <p class="mb-1 text-info">
                                    Spend another <strong>€{{ free_delivery_delta }}</strong> to get free shipping!
                                </p>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right">
                                <a href="{% url 'products' %}" class="btn btn-outline-none rounded-0 mt-5">
                                    <span class="header-font">Keep Shopping</span>
                                </a>
                                <a href="" class="btn btn-black rounded-0 text-uppercase mt-5">
                                    <span class="text-uppercase">Proceed to Checkout</span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                {% else %}
                <p class="mb-5">Your cart is empty.</p>
                <span class="header-font"><a href="{% url 'products' %}">Keep browsing</a></span>

                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}