{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid home-cover">
    <div class="row">
        <div class="col col-md-6 mx-auto text-center p-5 mb-2">
            <h1 class="display-4 header-font text-black">
                We sell good <br>non-pretentious wine!
            </h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-6 my-auto home-cover-private-color h-70">
            <div style="height: 250px;">
                <div class="my-5 text-center white-font">
                    <h2>Over 21? Shop our good wine selection</h2>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop
                        Wine</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 my-auto home-cover-private-image">
            <div style="height: 250px;">
                <div class="my-5 text-center">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 my-auto home-cover-business-image h-70">
            <div style="height: 250px;">
                <div class="my-5 text-center white-font">
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 my-auto home-cover-business-color">
            <div style="height: 250px;">
                <div class="my-5 text-center">
                    <h2>Are you looking to sell our wines in your bar/restaurant?</h2>
                    <a href="{% url 'contact' %}"
                        class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Contact us here</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 pt-3 text-center">
                <h2 class="header-font py-3">About us</h2>
                <p class="text-center md-p-5">
                    Supercazzola which in Italian means nonsense; "a phrase devoid of logical sense composed of a random
                    set
                    of real and non-existent words". Let's skip the pretentious talk about wine and just focus on really
                    good wine!
                    For us it is just about good, non pretentious low intervention wines from our friends in Italy and
                    South
                    Africa.
                    They may be the sons and daughters from the more classic wineries or new vineyards experimenting and
                    just
                    doing their own thing. Either way, they are making their own paths and pushing wine making into the
                    future, experimenting on their own and providing us with outstanding wines. As long as we find it
                    great,
                    we are proud to be your local wine distributor in Southern Sweden.
                    Because we assure you - you will come back for more.
                </p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3  text-center">
                <h3 class="header-font py-3">What is Natural Wine?</h3>
                <p class="text-center md-p-5 pb-5">
                    "Nothing added, nothing taken away.
                    Wine as its purest." <br>
                    Like fermented grape juice but better!?
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}