{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid home-cover">
    <div class="row">
        <div class="col col-md-6 mx-auto text-center p-5">
            <h1 class="display-4 header-font text-black">
                We sell good non-pretentious wine!
            </h1>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-6 my-auto home-cover-private h-70">
            <div style="height: 200px;"> 
            <div class="my-5 text-center white-font">
                <h2>Over 21? Shop our good wine selection</h2>
                <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Wine</a>
            </div>
        </div>
        </div>
        <div class="col-12 col-lg-6 my-auto home-cover-business">
            <div style="height: 200px;">
            <div class="my-5 text-center">
                <h2>Are you looking to sell our wines in your bar/restaurant?</h2>
                <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">FORM HERE</a>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="container-fluid home-cover">
    <div class="row">
        <div class="col-12 my-5 text-center">
            <h3 class="header-font">What is Natural Wine?</h3>
            <p class="text-center md-p-5">
                Natural wine refers to a generalized movement among winemakers for production of wine using simple or traditional methods. 
                Although there is no uniform definition of natural wine, it is usually produced without the use of pesticides or herbicides and with few or no additives. 
                Typically, natural wine is produced on a small scale using traditional rather than industrial techniques and fermented with native yeast.  
                In its purest form, natural wine is simply unadulterated fermented grape juice with no additives in the winemaking process.  
                Other terms for the product include low-intervention wine.</p>
                <hr>
        </div>
    </div>
    </div>
</div>


{% endblock %}