{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                We sell good non-pretentious wine!
            </h1>
        </div>
    </div>
</div>

<div class="container h-70">
    <div class="row h-70">
        <div class="col-6 my-auto">
            <div class="my-5">
                <h4>
                    <h2>Are you are restaurant or bar owner?</h2>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">FORM HERE</a>
                </h4>
            </div>
        </div>
        <div class="col-6 my-auto">
            <div class="my-5">
                <h4>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Wine</a>
                </h4>
            </div>
        </div>
    </div>
</div>


            {% endblock %}