{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid py-0">
    <div class="container mb-2">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="header-font">My Account</h2>
                <hr class="w-100">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="small">Your Delivery Information
                </p>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn btn-black rounded-0 text-uppercase mt-5 mb-5 w-100">
                        <span>Update Information</span>
                    </button>
                </form>
            </div>
            <div class="col-12 col-lg-6">
                <div class="order-history">
                    <p class="pt-0 text-black small">Order History</p>
                    <div class="row">
                        <div class="col-3">
                            <p class="small">Order Number</p>
                        </div>
                        <div class="col-3">
                            <p class="small">Order Date</p>
                        </div>
                        <div class="col-3">
                            <p class="small">Items</p>
                        </div>
                        <div class="col-3">
                            <p class="small">Price</p>
                        </div>
                    </div>
                    <div class="order-summary">
                        {% for order in orders %}
                        <div class="row">
                            <div class="col-3">
                                {{ order.order_number|truncatechars:6 }}
                            </div>
                            <div class="col-3">
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li class="small">
                                        {{ item.product.name }} x{{ item.quantity }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-3">
                                <p class="my-0 small"> €{{ item.product.price }}</p>
                            </div>
                        </div>
                        {% endfor %}
                        <hr class="my-2">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}