html {
    height: 100%;
}
.logo {
    font-family: 'Londrina Solid';
    font-size: 8vh;
    color: #000;
}

ul li {
    list-style: none;
}

.header-font {
    font-family: 'Permanent Marker';
}
.text-muted {
    color: #292F30 !important;
}
.text-info {
    color: #DDC445 !important;
}

.home-cover {
    background: url('/media/background.jpg') no-repeat center center fixed;
    background-size: cover; 
    height: calc(100vh-135px);

}
.home-cover-business {
    background-color: #DDC445;
}
.home-cover-private {
    background-color: #292F30;
}

body {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    background-size: cover;
    color: #000;
}


.product-container a {
    color: #000;
}

a {
    color: #000;
}
.text-primary,
.text-primary:hover,
.text-primary:active,
.text-primary:focus {
    color: #ffc107 !important;
}


.btn-outline-none:hover,
.btn-outline-none:active,
.btn-outline-none:focus,
a:hover,
a:active,
a:focus {
    color: #DDC445;
    text-decoration: none;
    background-color: transparent;
    outline: 0;
    box-shadow: none!important;
}

a.dropdown-item:hover,
a.dropdown-itema:active,
a.dropdown-item:focus {
    background-color: #DDC445;
    outline: 0;
    box-shadow: none!important;
}
.btn-small {
    background-color: transparent;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}


.btt-link:hover,
.btt-link:active,
.btt-link:focus {
    background-color: #DDC445;
    text-decoration: none;
    outline: 0;
    box-shadow: none!important;
}


.img-thumbnail {
    max-width: 50%;
}

.border {
    color: #000 !important;
}


/* .row {
    margin-right: 0px;
    margin-left: 0px;
} */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #292F30;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}
input.border-black:focus,
input.border-black:active,
input.border-black:hover {
    background-color: transparent;
}

.border-black:active,
.border-black:hover {
    background-color: #DDC445;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 135px;
    }
}
/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}
