
/* General */
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

ul li {
    list-style: none;
}

a {
    color: #000;
}

body {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    background-size: cover;
    color: #000;
}

/* Text */
.logo {
    font-family: 'Londrina Solid';
    font-size: 8vh;
    color: #000;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.header-font {
    font-family: 'Permanent Marker';
    color: #000;
}

.text-muted {
    color: #292F30 !important;
}

.text-info {
    color: #DDC445 !important;
}
.text-danger {
    color: red !important;
}

.text-black {
    color: #000 !important;
}

a > .text-black:hover,
a > .text-black:focus
span > .text-black:hover,
span > .text-black:focus {
    color: #DDC445 !important;
}


/* Images home page */
.home-cover {
    background: url('/media/background.jpg') no-repeat center center fixed;
    background-size: cover; 
}

.home-cover-business-image {
    background: url('/media/b2c_image.JPG') no-repeat center center;
    background-size: cover;
}

.home-cover-business-color {
    background-color: #31656B;

}

.home-cover-private-image {
    background: url('/media/b2b_image.jpg') no-repeat center center;
    background-size: cover; 
}

.home-cover-private-color {
    background-color: #DDC445;
}

/* Images */
.card-img-top {
    max-height: 250px !important;
    object-fit: contain !important;
}

.img-thumbnail {
    max-width: 50%;
}

.cart-image {
    max-width: 100px;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* Footer */
footer a,
footer p {
    color:#fff;
}

.page-footer {
    background-color: #292F30;
}

/* Form */

.form-control:focus {
    border-color: #000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
  }

.border-black {
    border: 1px solid black !important;
}

input.border-black:focus,
input.border-black:active,
input.border-black:hover {
    background-color: transparent;
}

.border-black:active,
.border-black:hover {
    color: #000;
}

.text-primary,
.text-primary:hover,
.text-primary:active,
.text-primary:focus {
    color: #ffc107 !important;
}

.product-container a {
    color: #000;
}

.border {
    color: #000 !important;
}

/* Allauth account forms */

.allauth-accounts-form p {
    color:#000;   
}

.allauth-accounts-form input {
    border-color: #000;
    border-radius: 0;
}

.allauth-accounts-form input::placeholder {
    color: #000;
}

.allauth-accounts-form label:not([for='id_remember']) {
    display: none;
}

/* Button & Links */
.btn-outline-none:hover,
.btn-outline-none:active,
.btn-outline-none:focus,
.dropdown-menu:hover,
a:hover,
a:active,
a:focus {
    color: #DDC445;
    text-decoration: none;
    background-color: transparent;
    outline: 0;
    box-shadow: none!important;
}

a.dropdown-item:hover,
a.dropdown-item:active,
a.dropdown-item:focus {
    background-color: #DDC445;
    outline: 0;
    box-shadow: none!important;
}

.btn-small {
    background-color: transparent;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #292F30;
    color: white;
    box-shadow: none!important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}
.btn-search:hover,
.btn-search:active,
.btn-search:focus,
.btt-link:hover,
.btt-link:active,
.btt-link:focus {
    background-color: #DDC445;
    color:#000;
    text-decoration: none;
    outline: 0;
    box-shadow: none!important;
}

/* Toasts */
.message-container {
    position: fixed;
    top: 75px;
    right: 15px;
    z-index: 99999999999;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.toast-image {
    max-width: 50px;
    max-height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.toast-capper {
    height: 2px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Add/Edit Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #000000;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* Mailchimp form */
div.mc-field-group label {
    visibility: hidden;
}

#mce-EMAIL {
    background-color: #fff;
    border: #fff;
    
}
#mce-EMAIL:focus {
    border-color: #000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
}


.btn-yellow {
    background: black;
    color: white;  
    border: none;
}

.btn-yellow:hover,
.btn-yellow:active,
.btn-yellow:focus,
.btn-black:active,
.btn-black:focus {
    background: #DDC445;
    color: white;
    border: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);

}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 135px;
    }
}

/* Pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 80px;
    }
    .dropdown-item {
        padding: 0;
    }

    .product-row.row {
        margin-left: 0;
        margin-right: 0;
    }
    body {
        height: calc(100vh - 116px);
    }

    .home-cover {
        background: none;
        max-height: 150px;
        padding: 0;
    }

    div.home-cover-business-image {
        display: none;
    }

    .home-cover-business-color {
        max-height: 200px;
    }

    .home-cover-private-color {
        max-height: 200px
    }

    .display-4.header-font.text-black {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.3rem;
    } 
    h3.header-font {
        font-size: 1.1rem;
    }
    h4 {
        font-size: 1rem;
    }
    h5 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }

    .nav-link.main-logo-link {
        padding-left: 0;
    }

    .text-muted {
        font-size: .7rem;
    }

    .sort-wine {
        font-size: .7rem;
        padding: 0;
    }

    .btn-lg,
    .btn-lg {
        padding: .350rem .350rem;
        font-size: .85rem;
    }

    h2.logo.logo-font {
    font-size: 1rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    button.navbar-toggler {
        color: #000;
        border: none;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 0.9rem;
    }

    .footer-copyright {
        font-size: .7rem;
    }
    .d-flex.social-tags {
        padding-top: 20px;
        justify-content: center;
    }
    .increment-qty, 
    .decrement-qty {
        color: #000;
    } 
}