html {
    height: 100%;
}
.logo {
    font-family: 'Londrina Solid';
    font-size: 8vh;
    color: #000;
}

.header-font {
    font-family: 'Permanent Marker';
}

.home-cover {
    background-color: #326770;
    background-size: cover; 
    height: calc(100vh-135px);
}
.home-cover-business {
    background-color: #DDC445;
}
.home-cover-private {
    background-color: #292F30;
}

body {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    background-size: cover;
    color: #000;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #292F30;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 135px;
    }
}