<div class="collapse navbar-collapse bg-white" id="main-nav">
        <ul class="list-inline list-unstyled d-sm-block d-md-block"> 
        <li class="nav-item d-block d-md-none">
            <a class="logo-font nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item d-block d-md-none">
            <a class="logo-font nav-link text-black mr-5" href="{% url 'products' %}" id="all-products-link">
                Shop
            </a>
        </li>
    </ul>
</div>
    
    
    
    
    
    
    



    
    
    <!-- <ul class="navbar-nav w-auto mx-auto">
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="list-inline list-unstyled">               
                <li class="list-inline-item">
                    
        <li class="nav-item d-block d-md-none">
            <a class="logo-font nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="{% url 'products' %}" id="all-products-link">
                Shop
            </a>
        </li>
        </ul>
    </div>
</div> -->