<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="header-font font-weight-bold nav-link text-black mr-5" href="#" id="products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All - I'm not that fussy</a>
                <a href="{% url 'products' %}?category=red" class="dropdown-item">Red</a>
                <a href="{% url 'products' %}?category=orange" class="dropdown-item">Orange</a>
                <a href="{% url 'products' %}?category=white" class="dropdown-item">White</a>
                <a href="{% url 'products' %}?category=rose" class="dropdown-item">Rosé</a>    
            </div>
        </li>
    </ul>
</div>