.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 transparent;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0px 1px 1px 0 transparent;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #DDC445;
    font-family: 'Overpass', sans-serif;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select, 
select option {
  color: #292F30;
}

/* select:focus, 
select:active, 
select option:focus,
select option:active  {
  box-shadow: none;
} */

select:invalid,
select option[value=''] {
  color: #292F30 !important;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41,	47,	48, .50);

    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.fieldset-label {
    font-size: 1rem;
}

#payment-form .form-control,
#cart-element {
    border: 1px solid !important; 
    border-radius: 0;
}

.form-control:focus,
.stripe-style-input,
#card-element {  
    color: #000 !important;   
}