{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container mb-2">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="header-font">Product Management</h2>
                <hr class="w-100">
                <h5 class="header-font">Edit Product</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                        <button class="btn btn-black rounded-0 text-uppercase mt-2 mb-4 w-100">
                            <span>Update Product</span></button>
                        <a class="btn btn-outline-none rounded-0 header-font" href="{% url 'products' %}">Back to Products</a>           
                    </div>
                </form>
            </div>            
        </div>
    </div>

        </div>
    </div>
</div>
{% endblock %}