{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <h3 class="mb-0 header-font">{{ product.name }}</h3>
                <p class="lead mb-0 text-left font-weight-bold">€ {{ product.price }}</p>
                <br>
                {% if product.country %}
                <p class="header-font text-muted">Country: {{ product.country }}</p>
                {% endif %}
                {% if product.alc %}
                <p class="header-font text-muted">{{ product.alc }} %</p>
                {% endif %}
                {% if product.category %}
                <p class="header-font text-muted">{{ product.category.friendly_name }}</p>
                {% endif %}
                <p class="mt-3">{{ product.description }}</p>

                <form class="form" action="" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <div class="form-group w-50">
                                <span class="input-group">
                                    <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to cart">
                            </span>
                            </div>
                        </div>

                        <div class="col-12">
                            <span class="header-font"><a href="{% url 'products' %}">Keep Shopping</a></span>
                            
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
</div>
{% endblock %}